
<nav class="container-navbar">
    <ul class="links">
        <li class="btn"><a href="/profile/me">My Profile</a></li>
        <li class="btn"><a href="/group/mygroup/<%=user.group._id%>">My Group</a></li>
        <li class="btn"><a href="/logout">Log out</a></li>
    </ul>
</nav>
<div class="main-container-dashboard-member">
        <div class="white-box"></div>
        <div class="left-side-dashboard">
    <h1> <%=user.username%>'s TASKS pending:</h1>
    <div class="tasks-box">
    <ul>
        <% user.tasks.forEach(function(task){ %>
            <li class="squaredThree">
                <%= task.taskName %>
                <input class="checkbox-member" disabled type="checkbox" value="<%=task._id%>" <%=task.isDone ? 'checked' : null%>>
            </li>
        <% }) %>
    </ul>
</div>
    </div>
    <div class="right-side-dashboard">
            <% if (loggedInUser.role === "admin") { %>
               
               <button><a href="/resetmember/<%= user._id %>" class="delete-button-dashboard dashboard-admin-btn">RESET</button>
               
           <% } %>
       </div>
</div>
<!-- <script type="text/javascript" src="/javascripts/progressBar.js"></script> -->