
<nav class="container-navbar">
    
    <ul class="links">
        <li class="btn"><a href="/profile/me">My Profile</a></li>
        <li class="btn"><a href="/group/mygroup/<%=group._id%>">My Group</a></li>
        <li class="btn"><a href="/logout">Log out</a></li>
    </ul>
</nav>
<div class="main-container-dashboard">
    <div class="left-side-dashboard">
    <h1>Your TASKS pending:</h1>
    <ul>
        <% user.tasks.forEach(function(task){ %>
            <li class="squaredThree">
                <%= task.taskName %>
                <input class="checkbox" type="checkbox" value="<%=task._id%>" <%=task.isDone ? 'checked' : null%>>
            </li>
        <% }) %>
    </ul>
    </div>
    <div class="right-side-dashboard">
         <% if (user.role === "admin") { %>
            
            <a href="/reset/<%= user._id %>" class="delete-button-dashboard dashboard-admin-btn">RESET</button>
            
        <% } %>
    </div>
</div>
<!-- <script type="text/javascript" src="/javascripts/progressBar.js"></script> -->